* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1150px;
  --basic-space: 1rem;
  --text-color: #1d2f38;
  --text-color-secound: #10843f;
  --text-color-third: #fff;
  --basic-background: #fff;
  --secondary-background: #f7f9fa;
}

html {
  font-family: "Raleway-Regular", "Bitter-Regular", sans-serif;
  background-color: var(--basic-background);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--basic-space) * 2);
  padding-left: var(--basic-space);
  padding-right: var(--basic-space);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: space-between;
}

.py-rem {
  padding-top: var(--basic-space);
  padding-bottom: var(--basic-space);
}
/*-----------------------------------------------------------------*/

.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.lh-20 {
  line-height: 20px;
}

.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/*---------------------------HEADER--------------------------------------*/

.header {
  padding-top: 17px;
  padding-bottom: 19px;
  background: var(--basic-background);
  box-shadow: 0px 1px 8px 0px rgba(83, 109, 122, 0.29);
}

.link-item {
  list-style: none;
  margin-right: 30px;
}

.link-item:last-child {
  align-items: center;
  right: 0;
  display: flex;
}

.caption {
  padding-right: 30px;
}

.icon + .nav-link {
  margin-left: 7px;
  margin-right: 12px;
}

/*-----------------------------MAIN-SECTION------------------------------------*/

.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main-wrapper {
  border-radius: 10px;
  background: #e3ebf1;
  padding: 50px;
}

.column {
  margin-left: 50px;
}

h2.intro {
  color: var(--text-color-secound);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 8px;
}

h1.main-title {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 47px;
  font-weight: 400;
  line-height: 52px;
  max-width: 484px;
  margin-bottom: 22px;
}

h2.main-description {
  color: #333;
  font-weight: 400;
  line-height: 24px;
  max-width: 474px;
  margin-bottom: 25px;
}

.btn {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: #17a550;
  color: var(--text-color-third);
  border-color: #17a550;
  text-align: center;
  max-width: 161px;
  max-height: 50px;
  font-weight: 400;
  font-family: "Raleway-Regular";
}
/*----------------------------CONTENT-SECTION--------------------------------*/

.content-section {
  padding-top: 17px;
  padding-bottom: 19px;
}

.content-wrapper {
  padding-bottom: 55px;
}

h1.content-caption {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 400;
}

h2.main-content {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 13px;
  margin-top: 9px;
  font-weight: 400;
}

p.blog-description {
  color: var(--text-color);
  max-width: 546px;
  margin-bottom: 55px;
  margin-top: 13px;
}

h3 {
  color: var(--text-color);
  line-height: 25px;
}

.first-section {
  display: flex;
  flex-direction: column;
}

.content-column {
  padding-left: 40px;
  padding-top: 69px;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.image {
  padding-bottom: 20px;
}

h3.content-title-1 {
  max-width: 280px;
  padding-left: 15px;
  font-weight: 400;
}

h3.content-title-2 {
  padding-left: 15px;
  font-weight: 400;
}

h3.content-title-3 {
  max-width: 300px;
  padding-left: 15px;
  font-weight: 400;
}

.triangle-button {
  display: flex;
  align-items: center;
}

.article-title {
  margin-left: 4px;
}

a {
  color: var(--text-color);
  font-family: "Raleway-Regular";
  text-decoration: none;
}

/*-----------------------------FIRST-SECTION-------------------------------*/

.first-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.notion-wrapper {
  background-image: url("../images/Notion.svg");
  padding: 30px 40px 31px;
  white-space: nowrap;
  background-repeat: no-repeat;
  display: flex;
}

h2.lawncare-description {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  display: flex;
  flex: 1;
}

.btn-list {
  padding: 15px;
  border-radius: 5px;
  background-color: #17a550;
  color: var(--text-color-third);
  border-color: #17a550;
  text-align: center;
  max-width: 111px;
  max-height: 50px;
  font-family: "Raleway-Regular";
  font-weight: 400;
  border: none;
}

.instruments {
  display: block;
  padding-right: 12px;
}

/*-----------------------------CARD-SECTION-------------------------------*/

.card-section {
  padding-top: 0px;
  padding-bottom: 39px;
}

.card-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.reviews-title {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 33px;
  font-weight: 400;
}

.card {
  padding: 0 0 39px 0;
  border-radius: 1rem;
  border-color: var(--secondary-background);
  background-color: var(--secondary-background);
}

.review-category {
  color: var(--text-color-third);
  font-size: 12px;
  border-radius: 3px;
  background: rgba(29, 47, 56, 0.8);
  padding: 5px 10px;
  vertical-align: top;
  z-index: 1;
  top: 15px;
  left: 15px;
}

.review-caption {
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 30px;
  line-height: 35px;
  padding-left: 25px;
  margin-bottom: 13px;
  margin-top: 23px;
  font-weight: 400;
}

.card-description {
  color: var(--text-color);
  max-width: 299px;
  padding-left: 25px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}

.triangle-button-2 {
  margin-top: 39px;
}

.article-title-2 {
  margin-left: 4px;
}
/*----------------------------SECOND-SECTION-------------------------------*/

.second-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.newsletter-wrapper {
  background: url("../images/Big-sparkle-rectangle.svg");
  padding: 50px;
  background-repeat: no-repeat;
}

.convert {
  max-width: 40px;
}

.circle {
  text-align: center;
  display: inline-block;
  padding: 10px;
  background: var(--text-color-third);
  border-radius: 50%;
  max-width: 60px;
  height: 60px;
}

.letter-wrapper {
  flex-wrap: wrap;
}

.signup-wrapper {
  padding-left: 50px;
}

.sign-up-title {
  margin-left: 10px;
  color: var(--text-color);
  font-family: "Bitter-Regular";
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.newsletter-description {
  max-width: 498px;
  margin-top: 30px;
  margin-bottom: 24px;
  margin-right: 52px;
}

input {
  border-radius: 5px;
  border: 1px solid #aabcc5;
  background: var(--basic-background);
  width: 500px;
  height: 50px;
  color: #536d7a;
  font-family: "Raleway-Regular";
  font-size: 12px;
  line-height: 20px;
  padding-left: 16px;
}

.submit-wrapper {
  padding-top: 31px;
}

.submit-btn {
  border-radius: 5px;
  background: #ffc728;
  color: #000;
  text-align: center;
  font-family: "Raleway-Bold";
  padding: 15px 21px 19px;
  font-weight: 700;
  border: none;
}

.privacy-policy {
  margin-left: 10px;
  color: #536d7a;
  font-size: 12px;
}

/*-------------------------------FOOTER--------------------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 20px;
  background: var(--secondary-background);
}

.social-link {
  padding-top: 11px;
}

.affiliate-description {
  margin-top: 19px;
  margin-bottom: 36px;
  margin-right: 50px;
  color: var(--text-color);
  font-family: "Raleway-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.latest-articles {
  color: #333;
  font-family: "Bitter-Regular";
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
}

.footer-wrapper {
  gap: 40px;
  display: flex;
  flex-direction: row;
}

.article-image {
  border-radius: 7px;
  max-width: 139px;
  margin-top: 20px;
  height: 100px;
}

.kind-of-articles {
  font-family: "Raleway-Regular";
  font-weight: 400;
  width: 356px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.article-name-1 {
  max-width: 194px;
  margin-left: 9px;
  align-items: center;
  color: var(--text-color);
  font-family: "Raleway-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.article-name-2 {
  max-width: 191px;
  margin-left: 9px;
  align-items: center;
  color: var(--text-color);
  font-family: "Raleway-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.article-name-3 {
  max-width: 180px;
  margin-left: 9px;
  align-items: center;
  color: var(--text-color);
  font-family: "Raleway-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: flex;
}

.search {
  border-radius: 5px 0px 0px 5px;
  background: var(--basic-background);
  width: 274px;
  height: 49.5px;
  margin-bottom: 12px;
}

.search-btn {
  border-radius: 0px 5px 5px 0px;
  padding: 14px 20px 13px;
  background: #768f9c;
  color: var(--text-color-third);
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #aabcc5;
  border-left: none;
}

.search-title {
  color: #333;
  font-family: "Bitter-Regular";
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 13px;
  font-weight: 400;
}

.information {
  color: var(--text-color);
}

.information-list {
  list-style: none;
}

.short {
  width: 356.656px;
  height: 1px;
  background: #536d7a;
}

.information-list-1 {
  color: var(--text-color);
  margin-top: 20px;
  list-style: none;
}

.information-list-2 {
  color: var(--text-color);
  margin-bottom: 26px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.realise {
  color: var(--text-color);
  margin-top: 20px;
}

.long {
  width: 1150px;
  height: 1px;
  background: #536d7a;
  align-self: center;
  margin-top: 78px;
}

.line-of-information {
  margin-top: 20px;
}

.other {
  gap: 10px;
  list-style: none;
}
