* {
  margin: 0;
  padding: inherit;
  box-sizing: border-box;
}

table {
  color: black;
  border: 3px solid;
  padding: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  padding: 10px;
  caption-side: bottom;
}

h1 {
  text-align: center;
}

.bg-pink {
  background-color: rgb(247, 4, 101);
}
