* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  max-height: 800px;
  margin: auto;
}
html {
  font-family: "Roboto", sans-serif;
  background-color: #c4c4c4;
}

.py-rem {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.clearfix::after {
  visibility: hidden;
  content: "";
  clear: both;
  display: block;
  width: 1100px;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.float-right {
  float: left;
  margin-left: 1rem;
}

.wrapper {
  background: #e6e6e6;
  float: right;
}

.square {
  width: 200px;
  height: 200px;
  background: #fc8f8f;
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 200px;
}

.square.small {
  width: 100px;
  height: 100px;
  font-size: 36px;
  line-height: 100px;
  float: left;
}
